# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue">Programação para Ciência de Dados</font>

## <font color="blue">Pandas Parte I - Exercícios</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

#### <font color="red">Recomenda-se fortemente que os exercícios sejam feitos sem consultar as respostas antecipadamente.</font>

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">WorldCups.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">WorldCups.csv</font> possui as seguintes colunas:
- **Year**: ano da copa
- **Country**: país sede
- **Winner**: campeão
- **RunnersUp**: disputou a final com o campeão
- **Third**: terceiro colocado
- **Fourth**: quarto colocado
- **GoalsScored**: número de gols na copa
- **QualifiedTeams**: número de times que disputaram a copa
- **MatchesPlayed**: número de jogos
- **Attendance**: número de espectadores (público)

In [1]:
import numpy as np
import pandas as pd

### Exercício 1) 
Utilizando o <font color='blue'>pandas</font>, leia o arquivo <font style="font-family: monaco">WorldCups.csv</font>, definindo a coluna 'Year' como índice das linhas, e armazene-o em uma variável tipo DataFrame. 
- Exiba as 5 primeiras linhas do DataFrame
- Exiba o tipo de dado de cada coluna
- Imprima o número de linhas do DataFrame

In [115]:
# SOLUÇÃO

DF = pd.read_csv('WorldCups.csv', index_col='Year')

DF.head()

          Country      Winner  ... MatchesPlayed Attendance
Year                           ...
1930      Uruguay     Uruguay  ...            18     590549
1934        Italy       Italy  ...            17     363000
1938       France       Italy  ...            18     375700
1950       Brazil     Uruguay  ...            22    1045246
1954  Switzerland  Germany FR  ...            26     768607

[5 rows x 9 columns]

In [5]:
# tipo de dado de cada coluna

DF.dtypes

Country           object
Winner            object
RunnersUp         object
Third             object
Fourth            object
GoalsScored        int64
QualifiedTeams     int64
MatchesPlayed      int64
Attendance         int64
dtype: object

In [7]:
# numero de linhas

print('Dimensões do DataFrame: ', DF.shape)

print('Número de linhas do DF: ', DF.shape[0])

Dimensões do DataFrame:  (20, 9)
Número de linhas do DF:  20

### Exercício 2) 
Remova as colunas 'QualifiedTeams' e 'MatchesPlayed' do DataFrame.

In [32]:
# SOLUÇÃO

DF_Ex2 = DF.drop(['QualifiedTeams',  'MatchesPlayed'], axis=1)

DF_Ex2

           Country      Winner  ... GoalsScored Attendance
Year                            ...
1930       Uruguay     Uruguay  ...          70     590549
1934         Italy       Italy  ...          70     363000
1938        France       Italy  ...          84     375700
1950        Brazil     Uruguay  ...          88    1045246
1954   Switzerland  Germany FR  ...         140     768607
1958        Sweden      Brazil  ...         126     819810
1962         Chile      Brazil  ...          89     893172
1966       England     England  ...          89    1563135
1970        Mexico      Brazil  ...          95    1603975
1974       Germany  Germany FR  ...          97    1865753
1978     Argentina   Argentina  ...         102    1545791
1982         Spain       Italy  ...         146    2109723
1986        Mexico   Argentina  ...         132    2394031
1990         Italy  Germany FR  ...         115    2516215
1994           USA      Brazil  ...         141    3587538
1998        France      France  ...         171    2785100
2002   Korea/Japan      Brazil  ...         161    2705197
2006       Germany       Italy  ...         147    3359439
2010  South Africa       Spain  ...         145    3178856
2014        Brazil     Germany  ...         171    3386810

[20 rows x 7 columns]

In [ ]:
del DF['QualifiedTeams']

In [34]:
DF

           Country      Winner  ... MatchesPlayed Attendance
Year                            ...
1930       Uruguay     Uruguay  ...            18     590549
1934         Italy       Italy  ...            17     363000
1938        France       Italy  ...            18     375700
1950        Brazil     Uruguay  ...            22    1045246
1954   Switzerland  Germany FR  ...            26     768607
1958        Sweden      Brazil  ...            35     819810
1962         Chile      Brazil  ...            32     893172
1966       England     England  ...            32    1563135
1970        Mexico      Brazil  ...            32    1603975
1974       Germany  Germany FR  ...            38    1865753
1978     Argentina   Argentina  ...            38    1545791
1982         Spain       Italy  ...            52    2109723
1986        Mexico   Argentina  ...            52    2394031
1990         Italy  Germany FR  ...            52    2516215
1994           USA      Brazil  ...            52    3587538
1998        France      France  ...            64    2785100
2002   Korea/Japan      Brazil  ...            64    2705197
2006       Germany       Italy  ...            64    3359439
2010  South Africa       Spain  ...            64    3178856
2014        Brazil     Germany  ...            64    3386810

[20 rows x 8 columns]

### Exercício 3) 
Exiba os países sede da copa entre os anos 1954 e 1982 (inclusive)

In [49]:
# SOLUÇÃO
DF_Ex3 = DF.loc[1954:1982]

DF_Ex3['Country'].values

array(['Switzerland', 'Sweden', 'Chile', 'England', 'Mexico', 'Germany',
       'Argentina', 'Spain'], dtype=object)

### Exercício 4) 
Encontre e imprima:
- os anos em que o Brasil ganhou a copa 
- os anos em que o Brasil jogou uma final (a final é dada pelas colunas 'Winner' e 'RunnersUp') 
- a proporção de vitórias do Brasil em finais

In [50]:
DF

           Country      Winner  ... MatchesPlayed Attendance
Year                            ...
1930       Uruguay     Uruguay  ...            18     590549
1934         Italy       Italy  ...            17     363000
1938        France       Italy  ...            18     375700
1950        Brazil     Uruguay  ...            22    1045246
1954   Switzerland  Germany FR  ...            26     768607
1958        Sweden      Brazil  ...            35     819810
1962         Chile      Brazil  ...            32     893172
1966       England     England  ...            32    1563135
1970        Mexico      Brazil  ...            32    1603975
1974       Germany  Germany FR  ...            38    1865753
1978     Argentina   Argentina  ...            38    1545791
1982         Spain       Italy  ...            52    2109723
1986        Mexico   Argentina  ...            52    2394031
1990         Italy  Germany FR  ...            52    2516215
1994           USA      Brazil  ...            52    3587538
1998        France      France  ...            64    2785100
2002   Korea/Japan      Brazil  ...            64    2705197
2006       Germany       Italy  ...            64    3359439
2010  South Africa       Spain  ...            64    3178856
2014        Brazil     Germany  ...            64    3386810

[20 rows x 9 columns]

In [61]:
# SOLUÇÃO

DF_Ex4_1 = DF.loc[DF["Winner"] == 'Brazil'] # DF.query("Winner == 'Brazil'")
DF_Ex4_1.index.values
DF_Ex4_1

          Country  Winner  ... MatchesPlayed Attendance
Year                       ...
1958       Sweden  Brazil  ...            35     819810
1962        Chile  Brazil  ...            32     893172
1970       Mexico  Brazil  ...            32    1603975
1994          USA  Brazil  ...            52    3587538
2002  Korea/Japan  Brazil  ...            64    2705197

[5 rows x 9 columns]

In [60]:
DF_Ex4_2 = DF.query("Winner == 'Brazil' | RunnersUp == 'Brazil'")
DF_Ex4_2.index.values

array([1950, 1958, 1962, 1970, 1994, 1998, 2002])

In [62]:
numero_de_vitorias_do_BR = DF_Ex4_1.shape[0]

numero_de_finais_do_BR = DF_Ex4_2.shape[0]

proporcao = numero_de_vitorias_do_BR / numero_de_finais_do_BR

print("A proporção é: ", proporcao)

A proporção é:  0.7142857142857143

### Exercício 5) 
Quais foram as 5 copas com mais gols? 

__Dica:__ Ordene o DataFrame

In [71]:
# SOLUÇÃO
DF_Ex5 = DF.sort_values('GoalsScored')
DF_Ex5.iloc[-5:]

          Country   Winner  ... MatchesPlayed Attendance
Year                        ...
1982        Spain    Italy  ...            52    2109723
2006      Germany    Italy  ...            64    3359439
2002  Korea/Japan   Brazil  ...            64    2705197
1998       France   France  ...            64    2785100
2014       Brazil  Germany  ...            64    3386810

[5 rows x 9 columns]

In [72]:
DF_Ex5 = DF.sort_values('GoalsScored', ascending=False)
DF_Ex5.head()

          Country   Winner  ... MatchesPlayed Attendance
Year                        ...
2014       Brazil  Germany  ...            64    3386810
1998       France   France  ...            64    2785100
2002  Korea/Japan   Brazil  ...            64    2705197
2006      Germany    Italy  ...            64    3359439
1982        Spain    Italy  ...            52    2109723

[5 rows x 9 columns]

In [76]:
DF_Ex5

           Country      Winner  ... MatchesPlayed Attendance
Year                            ...
2014        Brazil     Germany  ...            64    3386810
1998        France      France  ...            64    2785100
2002   Korea/Japan      Brazil  ...            64    2705197
2006       Germany       Italy  ...            64    3359439
1982         Spain       Italy  ...            52    2109723
2010  South Africa       Spain  ...            64    3178856
1994           USA      Brazil  ...            52    3587538
1954   Switzerland  Germany FR  ...            26     768607
1986        Mexico   Argentina  ...            52    2394031
1958        Sweden      Brazil  ...            35     819810
1990         Italy  Germany FR  ...            52    2516215
1978     Argentina   Argentina  ...            38    1545791
1974       Germany  Germany FR  ...            38    1865753
1970        Mexico      Brazil  ...            32    1603975
1966       England     England  ...            32    1563135
1962         Chile      Brazil  ...            32     893172
1950        Brazil     Uruguay  ...            22    1045246
1938        France       Italy  ...            18     375700
1934         Italy       Italy  ...            17     363000
1930       Uruguay     Uruguay  ...            18     590549

[20 rows x 9 columns]

In [78]:
DF = DF.sort_values('GoalsScored')
x = 4
DF

           Country      Winner  ... MatchesPlayed Attendance
Year                            ...
1930       Uruguay     Uruguay  ...            18     590549
1934         Italy       Italy  ...            17     363000
1938        France       Italy  ...            18     375700
1950        Brazil     Uruguay  ...            22    1045246
1966       England     England  ...            32    1563135
1962         Chile      Brazil  ...            32     893172
1970        Mexico      Brazil  ...            32    1603975
1974       Germany  Germany FR  ...            38    1865753
1978     Argentina   Argentina  ...            38    1545791
1990         Italy  Germany FR  ...            52    2516215
1958        Sweden      Brazil  ...            35     819810
1986        Mexico   Argentina  ...            52    2394031
1954   Switzerland  Germany FR  ...            26     768607
1994           USA      Brazil  ...            52    3587538
2010  South Africa       Spain  ...            64    3178856
1982         Spain       Italy  ...            52    2109723
2006       Germany       Italy  ...            64    3359439
2002   Korea/Japan      Brazil  ...            64    2705197
1998        France      France  ...            64    2785100
2014        Brazil     Germany  ...            64    3386810

[20 rows x 9 columns]

In [75]:
DF

           Country      Winner  ... MatchesPlayed Attendance
Year                            ...
1930       Uruguay     Uruguay  ...            18     590549
1934         Italy       Italy  ...            17     363000
1938        France       Italy  ...            18     375700
1950        Brazil     Uruguay  ...            22    1045246
1954   Switzerland  Germany FR  ...            26     768607
1958        Sweden      Brazil  ...            35     819810
1962         Chile      Brazil  ...            32     893172
1966       England     England  ...            32    1563135
1970        Mexico      Brazil  ...            32    1603975
1974       Germany  Germany FR  ...            38    1865753
1978     Argentina   Argentina  ...            38    1545791
1982         Spain       Italy  ...            52    2109723
1986        Mexico   Argentina  ...            52    2394031
1990         Italy  Germany FR  ...            52    2516215
1994           USA      Brazil  ...            52    3587538
1998        France      France  ...            64    2785100
2002   Korea/Japan      Brazil  ...            64    2705197
2006       Germany       Italy  ...            64    3359439
2010  South Africa       Spain  ...            64    3178856
2014        Brazil     Germany  ...            64    3386810

[20 rows x 9 columns]

### Exercício 6) 
Utilize o método <font color='blue'>value_counts</font> para encontrar o número de vezes que cada país ganhou a copa.

In [101]:
# SOLUÇÃO
resultado = DF['Winner'].value_counts()

for chave, valor in resultado.items():
  print("chave = ", chave, ', valor = ', valor,', acesso resultado[chave]: ',resultado[chave])

chave =  Brazil , valor =  5 , acesso resultado[chave]:  5
chave =  Italy , valor =  4 , acesso resultado[chave]:  4
chave =  Germany FR , valor =  3 , acesso resultado[chave]:  3
chave =  Uruguay , valor =  2 , acesso resultado[chave]:  2
chave =  Argentina , valor =  2 , acesso resultado[chave]:  2
chave =  England , valor =  1 , acesso resultado[chave]:  1
chave =  Spain , valor =  1 , acesso resultado[chave]:  1
chave =  France , valor =  1 , acesso resultado[chave]:  1
chave =  Germany , valor =  1 , acesso resultado[chave]:  1

### Exercício 7)
Quais foram as 5 copas com maior público? Imprima apenas o ano, o país e o público.

In [86]:
# SOLUÇÃO
DF_Ex7 = DF.sort_values("Attendance", ascending = False).head()

DF_Ex7[['Country','Attendance']]

           Country  Attendance
Year
1994           USA     3587538
2014        Brazil     3386810
2006       Germany     3359439
2010  South Africa     3178856
1998        France     2785100

### Exercício 8)
Construa um dicionário onde as chaves são os países que já participaram de uma final e os valores são o número de vezes que o país participou da final.

In [106]:
# SOLUÇÃO
resultado_vencedor = DF['Winner'].value_counts()

dic = {}
for chave, valor in resultado_vencedor.items():
  dic[chave] = valor


resultado_vice = DF['RunnersUp'].value_counts()

for chave, valor in resultado_vice.items():
  if chave in dic:
    dic[chave] = dic[chave] + valor
  else:
    dic[chave] = valor

print(dic)

{'Brazil': 7, 'Italy': 6, 'Germany FR': 6, 'Uruguay': 2, 'Argentina': 5, 'England': 1, 'Spain': 1, 'France': 2, 'Germany': 2, 'Netherlands': 3, 'Czechoslovakia': 2, 'Hungary': 2, 'Sweden': 1}

In [114]:
DF = DF[['Country', 'Winner', 'RunnersUp']]

for x,y in DF.items():
  print(y)

Year
1930         Uruguay
1934           Italy
1938          France
1950          Brazil
1966         England
1962           Chile
1970          Mexico
1974         Germany
1978       Argentina
1990           Italy
1958          Sweden
1986          Mexico
1954     Switzerland
1994             USA
2010    South Africa
1982           Spain
2006         Germany
2002     Korea/Japan
1998          France
2014          Brazil
Name: Country, dtype: object
Year
1930       Uruguay
1934         Italy
1938         Italy
1950       Uruguay
1966       England
1962        Brazil
1970        Brazil
1974    Germany FR
1978     Argentina
1990    Germany FR
1958        Brazil
1986     Argentina
1954    Germany FR
1994        Brazil
2010         Spain
1982         Italy
2006         Italy
2002        Brazil
1998        France
2014       Germany
Name: Winner, dtype: object
Year
1930         Argentina
1934    Czechoslovakia
1938           Hungary
1950            Brazil
1966        Germany FR
1962    Czechoslovakia
1970             Italy
1974       Netherlands
1978       Netherlands
1990         Argentina
1958            Sweden
1986        Germany FR
1954           Hungary
1994             Italy
2010       Netherlands
1982        Germany FR
2006            France
2002           Germany
1998            Brazil
2014         Argentina
Name: RunnersUp, dtype: object

In [112]:
i

3

### Exercício 9) 
Construa um dicionário com todos os países que já participaram de uma semi-final de copa (os quatro finalistas), onde a chave é o país e o valor corresponde ao número de vezes que o país foi um semi-finalista.

In [116]:
# SOLUÇÃO
resultado_vencedor = DF['Winner'].value_counts()

dic = {}
for chave, valor in resultado_vencedor.items():
  dic[chave] = valor


resultado_vice = DF['RunnersUp'].value_counts()

for chave, valor in resultado_vice.items():
  if chave in dic:
    dic[chave] = dic[chave] + valor
  else:
    dic[chave] = valor

    

resultado_terceiro = DF['Third'].value_counts()

for chave, valor in resultado_terceiro.items():
  if chave in dic:
    dic[chave] = dic[chave] + valor
  else:
    dic[chave] = valor


resultado_quarto = DF['Fourth'].value_counts()

for chave, valor in resultado_quarto.items():
  if chave in dic:
    dic[chave] = dic[chave] + valor
  else:
    dic[chave] = valor

print(dic)

{'Brazil': 11, 'Italy': 8, 'Germany FR': 8, 'Uruguay': 5, 'Argentina': 5, 'England': 2, 'France': 5, 'Spain': 2, 'Germany': 5, 'Netherlands': 5, 'Czechoslovakia': 2, 'Hungary': 2, 'Sweden': 4, 'Poland': 2, 'USA': 1, 'Austria': 2, 'Chile': 1, 'Portugal': 2, 'Croatia': 1, 'Turkey': 1, 'Yugoslavia': 2, 'Soviet Union': 1, 'Belgium': 1, 'Bulgaria': 1, 'Korea Republic': 1}